/****************NAVBAR**************/
* {
  margin: 0;
  padding: 0;
}

.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #060047;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  font-weight: bold;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}





.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #B3005E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav .logo{
    padding-right: 50px;
    color: #ffffff;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
 
}

/**********************home*********************/
.home {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  position: relative;
  z-index: -1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 13px
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.banner_main {
  background: #ffffff;
  padding: 40px 0 50px 0;
}

.text-bg {
  text-align: left;
  padding-top: 70px;
  float: right;
  width: 100%;
  max-width: 431px;
}

.text-bg h1 {
  color: #000000;
  padding-top: 50px;
  font-size: 80px;
  line-height: 85px;
  padding-bottom: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px){
  .text-bg h1 {
    font-size: 90px;
    padding-left: 25px;
  }
}

.text-bg p {
  font-size: 17px;
  display: block;
  color: #000000;
  line-height: 25px;
  padding-bottom: 50px;
  font-weight: 500;
}

.text-bg .read_more {
  border: #fff solid 5px;
}

.text-bg .read_more:hover {
  background: #000;
}

.images_box figure {
  margin: 0px;
}

.images_box figure img {
  width: 100%;
}

.carousel-caption {
  position: inherit;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.read_more {
  font-size: 17px;
  background-color: transparent;
  border: #00aeef solid 5px;
  color: #010a05 !important;
  padding: 13px 0px;
  width: 100%;
  max-width: 210px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  border-radius: 40px;
  font-weight: 500;
}

.read_more:hover {
  background: #00aeef;
  color: #fff !important;
  transition: ease-in all 0.5s;
}


/***********About us*******/

.section-head h4 {
  position: relative;
  padding:0;
  color:#f91942;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
  }
  
  .section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
  }
  
  .section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
  }
  
  .section-head p, p.awesome_line{
  color:#000000;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  line-height:28px;
  text-align:center;  
  }
  
  @media screen and (max-width: 767px) {
      .section-head p, p.awesome_line{
      padding-left: 2px;
      padding-right: 2px;
      }
      
  }
  
  
.number-count{
  padding-top: 50px;
}
  .number-count h2 {
      font-size: 60px;
      }
      .number-count p {
      font-size: 22px;
      }
      
      
      
  